<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>DEMO PROJECT GUIDE</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="static/icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/main.css">
    </head>
    <body>

        <div class="header">
            <p>
                <img src="https://www.asu.edu/asuthemes/4.6/assets/full_logo.png" alt="ASU Logo">
                <span>PROJECT GUIDE -- DEMO</span>
        </div>
    <div class="content">
    <img src="{{ url_for('video_feed') }}" height="900" width="1200" class="center">
    </div>
  </body>
        <!--<div class="dummy-nav">-->
            <!--<div class="nav-btn">-->
                <!--<a href="./index.html">-->
                    <!--<i class="fas fa-home"></i>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="content-container">-->
            <!--<div class="views-container">-->
                <!--<div class="rgb-view">-->

                <!--</div>-->
                <!--<div class="flex-col">-->
                    <!--<div class="depth-view-container">-->
                        <!--<div class="depth-view">-->
                            <!--&lt;!&ndash; Insert Depth view here &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="map-view-container">-->
                        <!--<div class="map-view">-->
                            <!--&lt;!&ndash; Insert Map View here &ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<button class="reset-btn" onclick="onReset()" id="reset-start">Start Navigating!</button>-->
        <!--</div>-->
        <footer>
            <div class="footer-content">
                <img src="static/icon.png" alt="Luminosity Lab Logo" /> <span>Brought to you by The Luminosity Lab</span>
            </div>
        </footer>

        <script src="static/js/main.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>    </body>
</html>
